extends ../layout

block content 
    .pagina-con-fondo
        .nueva-ad-cama 
            h1 Admision de paciente

            form(method="POST")
                label(for="motivo") Motivo de ingreso:
                select(name="motivo" requiredd)
                    option(value="" disabled selected hidden) Seleccione un motivo
                    option(value="Urgencia") Urgencia
                    option(value="Consulta") Consulta
                    option(value="Control") Control
                    option(value="Derivacion") Derivacion
                button(type="submit") Confirmar
        