
html 
    head 
        title= titulo 
        link(rel="stylesheet", href="style.css")
    body 
    block content 
        .inicio
            
            nav 
                ul.navbar
                    a.logo(href="/") HIS
                    ul.nav-links  
                        li 
                            a(href="/") Inicio 
                        li 
                            a(href="/pacientes") Pacientes 
                        li 
                            a(href="/internaciones") Internaciones
                        li 
                            a(href="/pacientes/nuevo") Registrar
            h1= titulo 
            p  Sistema hospitalario para admision de pacientes.

            a.button_registrar(href="/pacientes/nuevo") Registrar paciente

        