doctype html 
html 
    head 
        title HIS - Internacion 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/style.css')
    body 
        nav 
            ul.navbar 
                a.logo(href="/") HIS
                ul.nav-links  
                    li 
                        a(href="/") Inicio 
                    li 
                        a(href="/pacientes") Pacientes 
                    li 
                        a(href="/internaciones") Internaciones
                    li 
                        a(href="/pacientes/nuevo") Registrar 
        .container
            block content 