extends layout

block content   
    .pagina-con-fondo
        .mensaje(class=tipo)
            p= mensaje 

        a.button-volver(href="/internaciones") Ir a internaciones 
        a.button-volver(href="/pacientes") Volver a pacientes
        a.button-volver(href="/") Volver al inicio