extends ../layout

block content 
    .pagina-con-fondo 
        h1 Internaciones registradas 

        if internaciones.length === 0
            p No hay internaciones registradas.
        else 
            table 
                thead 
                    tr 
                        th ID
                        th Paciente
                        th Cama
                        th Fecha de ingreso 
                    tbody 
                        each internacion in internaciones 
                            tr
                                td(data-label="ID")= internacion.id 
                                td(data-label="Paciente")= internacion.nombre + ' ' + internacion.apellido 
                                td(data-label="Cama")= internacion.cama_id 
                                td(data-label="Fecha de ingreso")= internacion.fecha_ingreso.toISOString().split('T')[0]
    
    