extends ../layout

block content 
    .pagina-con-fondo
        .nueva-ad-cama
            h1 Internar paciente #{pacienteId}

            form(method='POST', action=`/internaciones/nueva/${pacienteId}`)
                div 
                    label Cama (ID):
                    input(type="number", name='cama_id', required)
                div 
                    button(type="submit") Confirmar internacion 
            
            